.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--bg-app);
}

.main-content {
  flex: 1;
  overflow-y: auto;
  height: 0;
  position: relative;
}
