/* src/shared/ui/SearchBox/style.css */

.search-box-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.search-box-input {
  width: 100%;
  height: 44px; /* Altura touch */
  padding: 0 16px 0 44px; /* Icono a la izquierda */

  background-color: var(--bg-input);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-md);

  color: var(--text-main);
  font-family: var(--font-sans);
  font-size: 16px; /* Evita zoom en iPhone */

  transition: border-color 0.1s;
  appearance: none;
}

.search-box-input:focus {
  outline: none;
  border-color: var(--border-strong);
  border-width: 2px;
  padding-left: 43px; /* Ajuste por el borde de 2px */
}

.search-box-input::placeholder {
  color: var(--text-muted);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
}

.search-icon-wrapper {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-muted);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box-input:focus + .search-icon-wrapper {
  color: var(--text-main);
}
