/* src/shared/ui/Card/style.css */

.card {
  background-color: var(--bg-card);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-md);
  box-shadow: none;

  padding: 24px; /* Escritorio */
  position: relative;
  transition: border-color 0.1s;
}

/* Ajuste Móvil: Menos padding para ganar espacio */
@media (max-width: 480px) {
  .card {
    padding: 16px;
  }
}

.card.interactive {
  cursor: pointer;
}

/* En móvil el hover no existe realmente, usamos active */
.card.interactive:active,
.card.interactive:hover {
  border-color: var(--border-strong);
  z-index: 10;
}
